* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
}

.BackgroundOne {
    background-image: url(../assets/background1.png);
    height: 800px;

    &__move-ball {
    position: absolute;
    margin: 8px 0 0 427px;
    animation: move-ball 3s ease infinite alternate-reverse;
    }

    &__animation-img {
    position: absolute;
    margin: 8px 0 0 433px;
    animation: animation 3s ease infinite alternate-reverse;
    }   
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__title {
    font-family: $SansProfont;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: $lettercolor;
    text-decoration: none;
    }

    &__item{
    list-style: none;
    display: inline-block;
    padding: 25px 15px;
    }

    &__item--a{
    text-decoration: none;
    color: $lettercolor;
    font-family: $SansProfont;
    font-size: 14px;
    letter-spacing: 0.2em;
    position: relative;
    }

    &__item--a:after{
    content: "";
    position: absolute;
    background-color:#FFFFFF;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -6px;
    }   

    &__item--a:hover:after {
    width: 100%;
    }
}

.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 180px 0;

    &__bg-logo {
    width: 63px;
    height: 63px;
    transition: all 0.5s ease;
    z-index: 1;
    }

    &__bg-logo:hover {
    transform: rotateY(180deg) scale(1.3);
    }
    
    &__h1 {
    font-size: 48px;
    text-align: center;
    color: $lettercolor;
    font-family: $Oswaldfont;
    }

    &__h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-family: $SansProfont;
    font-weight: 400;
    }
}