.BackgroundTwo {
    height: 666px;
    background-image: url(../assets/background2.png);

    &__h2 {
    color: $lettercolor;
    font-family: $Oswaldfont;
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    padding-top: 80px;
    }

    &__symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #39C2D7;
    border-radius: 50%;
    margin: 35px auto;
    transition: all 0.5s ease;
    color: $lettercolor;
    font-size: 60px;
    transition: all 0.5s ease;
    }

    &__symbol:hover{
    background-color: white;
    color: #39C2D7;
    transform: scale(0.9);
    }

    &__h3 {
    color: $lettercolor;
    font-family: $SansProfont;
    text-align: center;
    font-weight: normal;
    margin-top: 70px;
    line-height: 32px;
    font-size: 24px;
    }
}