.footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 170px;
    padding: 40px 30px 0 155px;
    background: #464547;

    &__flex {
    display: flex;
    grid-column-start: 1;
   }

   &__flex--p1 {
    letter-spacing: 0.2em;
    color: $lettercolor;
    font-family: $SansProfont;
    margin-left: 16px;
    font-size: 18px;
    }

    &__address {
    color: $addresscolor;
    font-family: $SansProfont;
    font-style: normal;
    grid-column-start: 3;
    grid-row-start: 1;
    }

    &__email {
    color: $addresscolor;
    font-family: $SansProfont;
    text-decoration: none;
    grid-column-start: 3;
    grid-row-start: 2;
    }

    &__p2 {
    color: $addresscolor;
    font-family: $SansProfont;
    grid-column: 6 / 8;
    grid-row-start: 2;
    }
}

