@media (max-width: 768px) {
    body {
        width: 100%;
    }
    .header__nav {
        visibility: hidden;
    }

    .header {
        padding: 0 15px;
    }
    .BackgroundOne {
        background-image: url(../assets/mobile-background1.png);
    }

    .app-header__nav-menu-button-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 28px;
        width: 25px;

        & span:nth-child(1) {
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: $lettercolor;
        }

        & span:nth-child(2) {
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: $lettercolor;
        }

        & span:nth-child(3) {
        height: 3px;
        width: 100%;
        border-radius: 10px;
        background: $lettercolor;
        }
    }

    .section{
        height: auto;
    }

    .section__btn-container {
       margin-top: 0;
       padding-bottom: 30px;
   }

    .section__grid {
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
        grid-template-columns: none;
        padding-left: 10px;

        &__h2 {
        width: 355px;
        height: 260px;
        margin: 0 auto;
        }

        &__h3 {
        margin-top: 100px;
        font-size: 24px;
        }
    }

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 170px;
        grid-template-columns: none;
        grid-template-rows: none;
        padding: 0;

        &__address {
        text-align: center;
        }

        &__flex {
        display: flex;
        align-items: center;
        padding-top: 20px;
        }
    }

    .BackgroundOne__move-ball {
        margin: 7px 0 0 -35px;
        position: absolute;
    }

   .BackgroundOne__animation-img {
        margin-left: -32px;
        position: absolute;
   }
}    