.section {
    background: #EEEEEE;
    height: 700px;

    &__h2 {
    text-align: center;
    font-family: $Oswaldfont;
    font-size: 48px;
    color:rgba(70, 69, 71, 1);
    padding-top: 65px;
    }

    &__h3 {
    text-align: center;
    font-family: $SansProfont;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    margin-top: 25px;
    }
}

.section__grid {
    width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 83px;
    margin: 30px auto 0;

    &__grid--article1 {
    color: $ArticleSecendColor;
    font-family: $SansProfont;
    line-height: 22px;
    }

    &__grid--article2 {
    color: $ArticleSecendColor;
    font-family: $SansProfont;
    line-height: 22px;
    }
}

.section__btn-container {
    text-align: center;
    margin-top: 35px;

    &--read-more {
    width: 115px;
    height: 36px;
    background-color:#55C2D8;
    color: $lettercolor;
    font-family: $Oswaldfont;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
    border-radius: 18px;
    border: 0px;
    cursor: pointer;
    transition: all 1s linear;
    transform-origin: left bottom;
    }

    &--read-more:hover {
    transform: rotateZ(10deg);
    }
}