@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);

$lettercolor: #FFFFFF;
$Oswaldfont: 'Oswald';
$SansProfont: 'Source Sans Pro';
$articlecolor: rgba(0, 0, 0, 1);
$addresscolor: rgba(255, 255, 255, 0.4);
$ArticleSecendColor: rgba(102, 102, 102, 1);