@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1200px;
}

.BackgroundOne {
  background-image: url(../assets/background1.png);
  height: 800px;
}

.BackgroundOne__move-ball {
  position: absolute;
  margin: 8px 0 0 427px;
  animation: move-ball 3s ease infinite alternate-reverse;
}

.BackgroundOne__animation-img {
  position: absolute;
  margin: 8px 0 0 433px;
  animation: animation 3s ease infinite alternate-reverse;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-decoration: none;
}

.header__item {
  list-style: none;
  display: inline-block;
  padding: 25px 15px;
}

.header__item--a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 14px;
  letter-spacing: 0.2em;
  position: relative;
}

.header__item--a:after {
  content: "";
  position: absolute;
  background-color: #FFFFFF;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -6px;
}

.header__item--a:hover:after {
  width: 100%;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 180px 0;
}

.flex-container__bg-logo {
  width: 63px;
  height: 63px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
}

.flex-container__bg-logo:hover {
  -webkit-transform: rotateY(180deg) scale(1.3);
          transform: rotateY(180deg) scale(1.3);
}

.flex-container__h1 {
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Oswald";
}

.flex-container__h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Source Sans Pro";
  font-weight: 400;
}

@-webkit-keyframes move-ball {
  100% {
    -webkit-transform: translateY(-15px) translateX(-30px);
            transform: translateY(-15px) translateX(-30px);
  }
}

@keyframes move-ball {
  100% {
    -webkit-transform: translateY(-15px) translateX(-30px);
            transform: translateY(-15px) translateX(-30px);
  }
}

@-webkit-keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  background: #EEEEEE;
  height: 700px;
}

.section__h2 {
  text-align: center;
  font-family: "Oswald";
  font-size: 48px;
  color: #464547;
  padding-top: 65px;
}

.section__h3 {
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: #666666;
  margin-top: 25px;
}

.section__grid {
  width: 920px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 83px;
          column-gap: 83px;
  margin: 30px auto 0;
}

.section__grid__grid--article1 {
  color: #666666;
  font-family: "Source Sans Pro";
  line-height: 22px;
}

.section__grid__grid--article2 {
  color: #666666;
  font-family: "Source Sans Pro";
  line-height: 22px;
}

.section__btn-container {
  text-align: center;
  margin-top: 35px;
}

.section__btn-container--read-more {
  width: 115px;
  height: 36px;
  background-color: #55C2D8;
  color: #FFFFFF;
  font-family: "Oswald";
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 18px;
  border: 0px;
  cursor: pointer;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.section__btn-container--read-more:hover {
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.BackgroundTwo {
  height: 666px;
  background-image: url(../assets/background2.png);
}

.BackgroundTwo__h2 {
  color: #FFFFFF;
  font-family: "Oswald";
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  padding-top: 80px;
}

.BackgroundTwo__symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  width: 150px;
  background-color: #39C2D7;
  border-radius: 50%;
  margin: 35px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #FFFFFF;
  font-size: 60px;
  transition: all 0.5s ease;
}

.BackgroundTwo__symbol:hover {
  background-color: white;
  color: #39C2D7;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.BackgroundTwo__h3 {
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  text-align: center;
  font-weight: normal;
  margin-top: 70px;
  line-height: 32px;
  font-size: 24px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 170px;
  padding: 40px 30px 0 155px;
  background: #464547;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.footer__flex--p1 {
  letter-spacing: 0.2em;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  margin-left: 16px;
  font-size: 18px;
}

.footer__address {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans Pro";
  font-style: normal;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.footer__email {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans Pro";
  text-decoration: none;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.footer__p2 {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans Pro";
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  .header__nav {
    visibility: hidden;
  }
  .header {
    padding: 0 15px;
  }
  .BackgroundOne {
    background-image: url(../assets/mobile-background1.png);
  }
  .app-header__nav-menu-button-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 28px;
    width: 25px;
  }
  .app-header__nav-menu-button-icon span:nth-child(1) {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
  }
  .app-header__nav-menu-button-icon span:nth-child(2) {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
  }
  .app-header__nav-menu-button-icon span:nth-child(3) {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
  }
  .section {
    height: auto;
  }
  .section__btn-container {
    margin-top: 0;
    padding-bottom: 30px;
  }
  .section__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    -ms-grid-columns: none;
        grid-template-columns: none;
    padding-left: 10px;
  }
  .section__grid__h2 {
    width: 355px;
    height: 260px;
    margin: 0 auto;
  }
  .section__grid__h3 {
    margin-top: 100px;
    font-size: 24px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 170px;
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: none;
        grid-template-rows: none;
    padding: 0;
  }
  .footer__address {
    text-align: center;
  }
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
  }
  .BackgroundOne__move-ball {
    margin: 7px 0 0 -35px;
    position: absolute;
  }
  .BackgroundOne__animation-img {
    margin-left: -32px;
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */